
.dropbtn {
    padding: 16px;
    font-size: 40px;
    position: relative;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown-content {
    position:absolute;
    background-color: #f1f1f1;
    min-width:150px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.top_nav_menu_flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.top_nav_menu_flex > div {
	width: 100%;
}
.top_nav_drop_down div {
	display: none;
	background-color: #444444;
	flex-direction: column;
}
.top_nav_drop_down:hover div {
	display: block;
}

.media {
	background-color: #105080;
}

.media > div:hover {
	background-color: #3080A0;
}
