html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.top_nav_menu {
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 40px;
    width: 100%;
    min-width: 200px;
    background-color: green;
}

.top_nav {
    width: 100%;
    min-width: 200px;
    font-size: 40px;
    background-color: red;
    position: fixed;
    overflow: hidden;
    z-index: 9;
}

.side_nav_menu {
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 40px;
    width: 100%;
    min-width: 200px;
    background-color: blue;
}

.side_nav {
    width: 100%;
    min-width: 200px;
    font-size: 40px;
    position: fixed;
    overflow: hidden;
    z-index: 8;
}

.nav_menu {
    background-color:blue;
    display: inline-block;
    font-size: 40px;
    width: inherit;
}

.nav_menu:hover {
    background-color:green;
}

.nav_box {
    padding: 8px;
    font-size: 40px;
    text-align: center;
    float: left;
    height: 100px;
    border: none;
    cursor: pointer;
    width: 200px;
}
.nav_box:hover {
    background-color: yellow;
    opacity: .7;
}
.nav_box::after {
    clear: both;
}

.nav_box_active {
    background-color: red;
}

.media_window {
	display: flex;
	flex-direction: column;
    width:100%;
    z-index:4;
}

.media_list {
	display: flex;
	flex-direction: column;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
}

.pre_setup {
    
}

.my_home {
    
}

.my_home_view {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #102020;
    overflow: hidden;
}

.media_banner_d {
    color: white;
    padding: 4px 10px 2px 20%;
    max-height: 5%;
    background-image: linear-gradient(to right,#808080,#102020);
}

.media_main_d {
	position: absolute;
    width: 100%;
    height: 100%;
}

.media_side_nav {
    position: absolute;
    max-width: 250px;
    height: 100%;
    z-index: 7;
}

.media_side_nav_container {
    position: absolute;
	width: 100%;
	height: 100%;
    z-index: 6;
	background-color: #000000;
}
.media_side_nav_buttons {
	width: 100%;
	height: 100%;
	background-color: #000000;
}
.side_nav_button {
    width: 100%;
    color: white;
}
.side_nav_button:hover {
	background-color: #808080;
    color: black;
}

.side_menu_data {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 5;
    background-color: #808080;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
}

.active_menu {
    background-color: #808080;
}

.media_top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    max-height: 25px;
    color: white;
}

.media_view_d {
    position: absolute;
    left: 0px;
    right: 0px;
	height: 100%;
}

.side_menu {

}
.media_font {
	color: white;
}

.media_font > div:hover {
	color: blue;
}
